:root {
    --background: rgba(85, 214, 170, .85);
    --bg-color: #8054FF;
    --btn-color: #6e41f3;
    --bg-light: #f4f4f4;
    --font-size: calc(.5em + .5vw);

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 400;
    overflow-x: hidden;
}

.task-modal {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: clamp(250px, 80vw, 380px);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 1.5rem;
    /* border-radius: 1rem 0rem 1rem; */
    background-color: #fff;
    /* transition: transform .3s ease-in-out ; */
}

.task-modal.open {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

#task-form h3 {
    align-self: center;
    font-weight: 800;
    /* position: relative; */
}

#task-form::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 4rem;
    /* right: -4rem; */
    background-color: #000;
}

.field > input {
    margin-top: 1.2rem;
    width: 100%;
    height: 2rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: .3rem 0rem .3rem;
}

#submit {
    margin-top: 3rem;
    padding: .5rem;
    font-size: 1.3rem;
    background-color: #1f1f35;
    position: relative;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .3rem 0rem .3rem;
    transition: background-color .3s ease-in-out;
}

#submit:hover {
    background-color: #1ae094;
}

input:valid {
    background-color: rgb(235, 247, 252);
}

#project-input {
    background-color: #fff;
}

input:invalid {
    border-color: rgb(238, 117, 117);
    background-color: #fdd;
}

input:focus:invalid {
    outline: #000;
}

/* This is the style of the error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: rgb(253, 77, 77);
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;

}

.text-header {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr;
}

.content {
    padding: 1.5rem;
    /* grid-row: 2 / 3; */
    grid-column: 1 / 2;
    background-color: #EAF1F1;
    min-height: 100vh;
}

.project__content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
}

.project__content h1 {
    align-self: center;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    /* align-items: center; */
}

.tasks-list > div {
    width: 90%;
    display: flex;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #f4f4f4;
    justify-content: space-around;
    /* transition: transform .1s ease-in-out; */
    /* transition: background-color .3s ease-in; */

}

.tasks-list > div:hover {
    /* transform: scale(1.08); */
    background-color: #9683cf;
    color: #fff;
}

.btn-add-task {
    min-width: 100px;
    align-self: center;
    margin-top: 1em;
    padding: .5rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: .3rem 0rem .3rem;
    transition: background-color .3s ease-in-out;
}

.btn-add-task:hover {
    background-color: #1ae094;
}

.side-panel h4 {
    padding: .8rem;
    user-select: none;
    cursor: pointer;
}

#all-tasks {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--bg-light);
    border-radius: .5rem 0rem .5rem;
}

#today-tasks {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#week-tasks {
    display: flex;
    align-items: center;
    gap: .5rem;
}


#today-tasks:hover {
    background-color: var(--bg-light);
    border-radius: .5rem 0rem .5rem;
}

#week-tasks:hover {
    background-color: var(--bg-light);
    border-radius: .5rem 0rem .5rem;
}

.projects > div {
    cursor: pointer;
    user-select: none;
}

#create__project {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: 1rem 0rem 1rem;
    background-color: var(--bg-light);
    width: 80%;
    margin-bottom: 3rem;
    font-size: var(--font-size);
    transition: background-color .3s ease-in-out;
}

#create__project:hover {
    background-color: #1ae094;
    color: #fff;
}

#create__project h3 {
    margin-right: .7rem;
}

.side-proj {
    display: flex;
    align-items: center;
    height: 60px;
    /* padding: .5rem; */
}

.side-proj h4 {
    flex: 2;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.side-proj:hover .delete_project {
    display: block;
    height: 75%;
    border-radius: .5rem 0rem .5rem;
    background: var(--bg-light);
}

.delete_project {
    display: none;
}

.delete_project:hover {
    fill: rgb(253, 77, 77)
}

.side-proj > h4 {
    padding: .8rem;
    /* margin-top: 1rem; */
    cursor: pointer;
    user-select: none;
}

.side-proj > h4:hover {
    background-color: var(--bg-light);
    border-radius: .5rem 0rem .5rem;
}

.project-modal {
    display: none;
}

.project-modal.active {
    display: block;
}

.project-modal > input {
    margin-top: 1rem;
    height: 2rem;
    /* border: none; */
    outline: none;
    font-size: 1.2rem;
    border-radius: .3rem 0rem .3rem;
}

.project-modal > div {
    margin-top: 1rem;
}

.project-modal > div > button {
    justify-content: space-between;
    padding: .5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .3rem 0rem .3rem;
}

#create {
    background-color: #1ae094;
}

#create:hover {
    background-color: #23c587;
}

#close {
    background-color: #fa7d7d;
}

#close:hover {
    background-color: #f16b6b;
}

@media screen and (max-width: 680px) {
    .container {
        display: flex;
        
    }

    .text-header h1 {
        display: none;
    }

    .content {
        padding: 0;
       /* width: 76px;  */
    }

    .content .inactive {
        display: none;
    }

    .project__content {
        /* display: none; */
        flex: 1;
    }

    .project__content .active {
        display: block;
    }

    .side-panel {
        width: 76px;
    }

    #all-tasks {
        padding: 0;
    }

    #today-tasks {
        padding: 0;
    }

    #week-tasks {
        padding: 0;
    }

    #Inbox {
        fill: #1ae094;
        width: 100%;
        /* height: 30px; */
    }

    .today {
        /* fill: #1ae094; */
        width: 100%;
    }

    .upcoming {
        width: 100%;
    }

    span {
        display: none;
    }

    #create__project {
        padding: 0;
        margin: 0 0rem 2rem 0rem;
        display: flex;
        align-items: center;
        background-color: #EAF1F1;
    }

    #create__project h3 {
        display: none;
        margin: 0;
    }

    .projects {
        padding: .5rem;
    }

    .projects h1 {
        font-size: .8rem;
        align-self: center;
    }

    .side-proj {
        font-size: .7rem;
    }

    .side-proj h4 {
        padding: 0;
    }

    .tasks-list {
        font-size: .7rem;
        margin-left: .3rem;
    }

    .tasks-list > div {
        align-items: center;
    }
}
